<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style/adminStyle.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/javascript/addIdea.js"></script>
  </head>
  <body>
    <div class="sidebar">
      <div class="side">
        <ul>
            <a href="/adm/featured"><li class="active">Featured</li></a>
            <a href="/adm/recommanded"><li>Recommanded</li></a>
            <a href="/adm/creative"><li>Creative</li></a>
            <a href="/adm/bylanguage"><li>By Programming Language</li></a>
            <a href="/adm/check/ideas"><li>Check User Submissions</li></a>
            <a href="/logout"><li id="logout">Logout</li></a>
        </ul>
      </div>
    </div>
    <div class="main">
      <div class="header">
        <h1><%=idea_type%></h1>
        <button id="btn">Add Idea</button>
        <form class="hidden" id="hidden" action="/adm/add/idea" method="post">
          <input type="text" id="name" name="idea_title" value="">
        </form>
      </div>
      <div class="body">
        <% for(var i=0;i<ideas_array.length;i++){ %>
          <% if(ideas_array.length!=0){ %>
              <div class="idea">
                  <h1><%= ideas_array[i][i].Iname %></h1>
                  <a href="<%= ideas_array[i][i].hyperlink %>"><button>Edit</button></a>
                </div>
          <%}else{ %>
              <h1>No ideas found</h1>
          <%}%>
        <%}%>
      </div>
    </div>
  </body>
</html>
