<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>yourSkill</title>
    <link rel="stylesheet" href="/style/homestyle.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
  </head>
  <body>
    <header>
      <div class="empty">

      </div>
      <div class="side">
        <ul>
          <a href="/team"><li>Team</li></a>
          <a href="/contribute"><li>Contribute</li></a>
          <a href="#"><li><i class="fab fa-github"></i></li></a>
        </ul>
      </div>
    </header>
    <main>
      <div class="box">
        <h1>yourSkill</h1>
        <p>Real-time coding challenge for Students</p>
        <a href="/login"><button>Get Started</button></a>
      </div>
    </main>
  </body>
</html>
