<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=username%></title>
    <link rel="stylesheet" href="/style/profile.css">
  </head>
  <body>
    <div class="box">
      <span id="dot">
        <svg height="200" width="200">
          <circle cx="100" cy="100" r="90" stroke="black" stroke-width="20" fill="#F8F9F9"/>
          <text x="50%" y="50%" text-anchor="middle" dy=".3em"><%=xp%> XP</text>
        </svg>
        <br></span>
      <h1><%=username%></h1>
    </div>
  </body>
</html>
